* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    background-color :#203a52
  }
  
  .container {
    max-width: 900px;
    margin: auto;
    padding: auto;
  }
  
 .profile-section {
    text-align: center;
    margin-top: 250px;
  }

  img {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 25px;
    font-family: cursive;
    color: #CCEEFF;
  }

  .profile-section h1:hover {
    color: #FF8000;
    }
  h2 {
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    color: #CCEEFF;
  }
  .profile-section h2:hover {
    color: #FF8000;
    }

 .communication {
    margin-top: 30px;
 }

  .communication-logos {
    height: 150px;
    font-size: 40px;
    margin: 20px;
    display: flex;
    justify-content: center;
    color: white;
  }
  .fab {
    color: #CCEEFF;
  }

  .fab:hover {
    color: #FF8000;
  }

  .fab:active{
    color: #04B431;
    }

  footer {
    text-align: center;
    width: auto;
    padding: 70px;
    padding-bottom: 10px;
  }

  .footer-nav__item {
    font-family:'Courier New', Courier, monospace;
    display: inline-block;
    font-size: 15px;
    padding: 7px;
    color: #CCEEFF;
  }

  .footer-nav__item a:hover {
  color: #FF8000;
  }
  .footer-nav__item a:active{
  color: #04B431;
  }
  .footer-nav li:hover {
    color: #FF8000;
  }
  .footer-nav li:active{
      color: #04B431;
  }
  .footer-nav  li::after{
    content: " / ";
  }

 


    